name: Migrate Data to AWS

on:
  workflow_dispatch:

env:
  AWS_REGION: ap-southeast-1

jobs:
  migrate_data:
    name: Run Data Import Script
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Import Script
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        FLASK_SECRET: ${{ secrets.FLASK_SECRET }}
        # We need these if models.py initializes Stripe, though import_db shouldn't assume app needs them running
        STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
        STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
      run: |
        python scripts/import_db.py
